.main2{
    background-color: aqua;
    height: 2500px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    
}
.sub-main2{
    display: flex;
    background-color: white;
    height: 1650px;
    width: 1850px;
    border-radius: 10px;
}
.triangle{
    height: 100px;
    width: 100px;
    justify-content: left;
    display: flex;
}
.link{
    display: flex;
    justify-content: space-between;
    padding-left: 1600px;
    border: none ;
}
.Home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-evenly;
    padding-left: 12px;
    font-size: medium;
}
a{
    color: black;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 80px;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: left;
    padding-left: 80px;
    margin: 0;
}
.btn{
    
    font-size: medium white;
    display: flex;
    justify-content: left;
    padding-left: 80px;
    margin-top: 10px;
    size: 50px;
}
.btn{
    justify-content: space-between;
    padding-right: 1500px;
}
button{
    background-color: orange;
    text-emphasis-color: white;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    transform: scale(1.1);
}
.h2{
    display: flex;
    justify-content: left;
    padding-left: 80px;
}
.left{
    width: 50%;
    height: 1000px;
    float: left;
    
}



.holder{
    display: flex;
    justify-content: left;
    padding-left: 80px;
}
.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    position:  relative;
    justify-content: start;
    border-radius: 20px;
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.image-container img{
    overflow: hidden;
    height: 200px;
}
.para{
    color: orange;
}

.Right{
    margin-left: 50%;
    height: 1000px;

}
.handbag{
    display: flex;
    justify-content: right;
    padding-left: 340px;
    height: 850px;
    width: 600px;
}
.ft{
    display: flex;
    justify-content: center;
}
.bottom{
    display: flex;
    justify-content: left;
    justify-content: space-evenly;
}
.footer{
    width: 200px;
    overflow: hidden;
    position:  relative;
    justify-content: start;
}
.footer img{
    overflow: hidden;
    height: 100px;
}
