.pop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-container{
    background-color: white;
    max-width: 1000px;
    height: 750px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px;
    min-height: 400px;
    position: relative;
}
.content1{
    display: flex;
    justify-content: left;
    align-content: center;
    border-bottom: solid black;
    border-top: solid black;
}
.hh{
    padding-bottom: 30px;
}
table{
    width: 1500px;
    height: 90px;

}
.nike {
    width: 200px;
    height: 200px;
    justify-content: center ;
}
button{
    display: flex;
    justify-content: left;
    width: 150px;
    height: 60px;
    align-items: center;
    padding-left: 30px;
    background-color: orange;
    color: white;
    font-size: larger;
    cursor: pointer;
    padding-top: 30px;
}
.pop-close{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 2px;
    right: 10px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);

}
.footer{
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

