.pop1{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop1-container{
    background-color: white;
    max-width: 1000px;
    height: 850px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px;
    min-height: 400px;
    position: relative;
}
.pop1-close{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 2px;
    right: 10px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}
.pp1{
    color: black;
    font-size: 40px;
}
.tick{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    
}
.tick-con{
    padding-left: 400px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.pp2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
.rateimg{
    display: flex;
    justify-content: center;
    
}
